@import url('https://fonts.googleapis.com/css?family=Niramit:300,400,500,700,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Niramit", sans-serif;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.multiselect input {
    background-color: transparent;
}

